{% extends "base.html" %}

{% block title %}
Credentials
{% endblock %}


{% block head %}

<link rel="stylesheet" href="/static/css/shared/forms.css">
<link rel="stylesheet" href="/static/css/shared/connect-layout.css">
<link rel="stylesheet" href="/static/css/credentials.css">

{% endblock %}


{% block content %}

<div class="connect-container">

    <section class="connect-section credentials-section">

        <h1>
            SSH Credentials
        </h1>

        <p class="script-description">
            Save the username and password used to sign in to devices over SSH.
        </p>

        <form id="credentials-form" class="app-form">

            <label for="username">
                Username
            </label>

            <input
                type="text"
                id="username"
                autocomplete="username"
                required
            >


            <label for="password">
                Password
            </label>

            <input
                type="password"
                id="password"
                autocomplete="current-password"
                required
            >


            <button type="submit">
                Save credentials
            </button>

        </form>


        <div id="credentials-status"></div>

    </section>

</div>

{% endblock %}


{% block scripts %}

<script type="module" src="/static/js/shared/credentials/page.js"></script>

{% endblock %}