{% extends "base.html" %}
{% from "macros/autosuggest_input.html" import autosuggest_input %}
{% from "macros/script_list.html" import script_list %}


{% block title %}
Connect to device
{% endblock %}


{% block head %}

<link rel="stylesheet" href="/static/css/connect.css">
<link rel="stylesheet" href="/static/css/forms.css">
<link rel="stylesheet" href="/static/css/script-list.css">

{% endblock %}


{% block content %}

<div class="connect-container">

    <section class="connect-section">

        <h1>
            Connect to device
        </h1>

        <p class="script-description">
            Enter an IP address or hostname, then connect.
        </p>

        <form id="connect-form" class="app-form">

            <label for="host">
                IP address or hostname
            </label>

            <div class="input-row">

                {{ autosuggest_input("host", "host", "192.168.1.1") }}

                <button type="submit">
                    Connect
                </button>

            </div>

        </form>

    </section>


    <section class="scripts-section">

        <h1>
            Run a script
        </h1>


        {% if scripts %}

        <p class="script-description">
            Select a script to open a terminal session.
        </p>

        {{ script_list(scripts) }}

        {% else %}

        <div class="empty-scripts">

            No scripts found. Add files to
            <code>scripts/</code>.

        </div>

        {% endif %}

    </section>

</div>

{% endblock %}


{% block scripts %}

<script type="module" src="/static/js/connect.js"></script>

{% endblock %}
