{% extends "base.html" %}

{% block title %}
Credentials
{% endblock %}


{% block content %}

<div class="connect-container">

    <h1>SSH Credentials</h1>

    <form id="credentials-form">

        <label for="username">
            Username
        </label>

        <input
            type="text"
            id="username"
            autocomplete="username"
            required
        >


        <label for="password">
            Password
        </label>

        <input
            type="password"
            id="password"
            autocomplete="current-password"
            required
        >


        <button type="submit">
            Save credentials
        </button>

    </form>


    <div id="credentials-status"></div>

</div>

{% endblock %}


{% block scripts %}

<script src="/static/js/credentials.js"></script>

{% endblock %}