<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
    <title>{% block title %}RemoteLink{% endblock %}</title>

    <link
        rel="stylesheet"
        href="/static/css/base.css"
    >

    {% block head %}{% endblock %}
</head>

<body>

{% block header %}
<header class="header">

    <div class="header-container">

        <a href="/domain" class="logo">
            <img src="/static/icons/favicon.ico" alt="RemoteLink Icon" class="logo-icon">
            RemoteLink
        </a>

        <nav class="nav">
            {% include "macros/history.html" %}

            <a href="/domain_schema">
                Domain
            </a>
            <a href="/switches">
                Switches
            </a>
            <a href="/switch_inventory">
                Inventory
            </a>

            <a href="/credentials">
                Credentials
            </a>

        </nav>

    </div>

</header>
{% endblock %}


<main class="main">

    {% block content %}
    {% endblock %}

</main>


<script type="module" src="/static/js/shared/history/widget.js"></script>
<script src="/static/js/shared/auth/redirect.js"></script>
{% block scripts %}
{% endblock %}

</body>
</html>
