<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>{% block title %}RemoteLink{% endblock %}</title>

    {% block head %}{% endblock %}

    <link
        rel="stylesheet"
        href="/static/style.css"
    >
</head>

<body>

<header class="header">

    <div class="header-container">

        <a href="/" class="logo">
            <img src="/static/favicon.ico" alt="RemoteLink Icon" class="logo-icon">
            RemoteLink
        </a>

        <nav class="nav">

            <a href="/">
                Connect
            </a>

            <a href="/credentials">
                Credentials
            </a>

        </nav>

    </div>

</header>


<main class="main">

    {% block content %}
    {% endblock %}

</main>


{% block scripts %}
{% endblock %}

</body>
</html>
