{% extends "base.html" %}


{% block title %}
Scripts
{% endblock %}


{% block content %}

<div class="connect-container">

    <h1>
        Run a script
    </h1>

    {% if scripts %}

    <ul class="script-list">

        {% for name in scripts %}

        <li>
            <a href="/terminal?script={{ name }}">
                {{ name }}
            </a>
        </li>

        {% endfor %}

    </ul>

    {% else %}

    <p>
        No scripts found. Add files to the <code>scripts/</code> directory.
    </p>

    {% endif %}

</div>

{% endblock %}
